<!DOCTYPE html>

<html>
  <head>
    <style>
      body {
        background-image: url("https://img.freepik.com/free-vector/hand-drawn-collage-background_23-2149577295.jpg?w=2000");
        background-size: 1600px 800px;
      }

      

      .container {
        height: 750px;
        position: relative;
        /* border: 3px solid green; */
        padding-left: 47%;
        font-size: 60px;
      }

      .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    </style>
  </head>
  <body>
    <!-- <a href=<%= link %>>click me</a> -->

    <div class="container">
        <div class="vertical-center">
            <a href=<%= link %>>click me</a>
        </div>
      </div>
  </body>
</html>
