<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong">
    <style>

      body {
        background-image: url("https://img.freepik.com/free-vector/abstract-music-notes-design-music-background_206725-629.jpg?w=1060&t=st=1682243146~exp=1682243746~hmac=906b6cd95fe92e4067d0657490d5ca725a77afdd100645eadef9b977406169b2");
       
        background-size: cover;
        padding-top: 200px;
        color: rgb(119, 244, 234);
      }
      .text{
        padding-top: 16%;
      }
      a:link {
        color: rgb(0, 0, 0);
        background-color: transparent;
        text-decoration: none;
      }

      a:visited {
        color: rgb(36, 13, 105);
        background-color: transparent;
        text-decoration: none;
      }

      a:hover {
        color: rgb(4, 73, 15);
        background-color: transparent;
        text-decoration: underline;
      }

      a:active {
        color: rgb(4, 73, 15);
        background-color: transparent;
        text-decoration: underline;
      }
      .b1{
        padding: .5%;
        border-radius: 11%;
        padding: .5%;
        opacity: 0.6;
        transition: 0.2s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;

        
      }
      .b2{
        padding: .5%;
        border-radius: 11%;
        padding: .5%;
        opacity: 0.6;
        transition: 0.2s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
      }
      .b1:hover {opacity: 1}
      .b2:hover {opacity: 1}

    </style>
  </head>
  <body align="center">
    <div class = "text">
    <h1 style = "font-family: Trirong;">Welcome to CHORDEUPHONIC</h1>
    <h2 style = "font-family: Sofia; color: gold;">
      A place where you can find your favourite music and interesting podcasts
    </h2>
    
    <button class = "b1"><a href="/login" style="font-size: larger; font-family: Audiowide;">log in..</a></button>
    <button class = "b2"><a href="/signup" style="font-size: larger; font-family: Audiowide;">signup</a></button>
    </div>

  </body>
</html>
